* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: arial;
    font-size: 1.2rem;
}

img {
    width: 5rem;
    margin: 0 auto;
}

p, label {
    color: #5f6368;
}

/* ------------------------------------------- */

.invisible {
    display: none !important;
}

.visible {
    display: block !important;
}

/* ------------------------------------------- */

.mainBox{
    padding: 0px 16px 48px;
}

.headerBox {
    border-bottom: 1px solid #dadce0;
}

.brandBox {
    width: 100%;
    padding: 18px 60px;
    background: #FFF;
    text-align: center;
}

.searchSection {
    display: flex;
    color: white;
    justify-content: center;
    margin: 40px 0px 0px;
}

.filterBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filter { 
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    position: relative;
    flex-direction: column;
}

.searchBar {    
    display: flex;
    min-width: 0;
    border: 1px solid #dadce0;
    border-radius: 50px;
    overflow: hidden;
    height: 45px;
    align-items: center;
    width: 100%;
}

.searchWriter {
    min-width: 0;
    width: 100%;
}
.searchWriter input {
    border: 0;
    padding: 4px 20px;
    width: 100%;
    outline-color:transparent;
}

.searchIconBox {
    display: flex;
    height: 100%;
    align-items: center;
    border-left: 1px solid #dadce0;
}

.searchIcon {
    display: flex;
    margin: 0 10px;
    fill: #5f6368;
}

.filterButton,
.filterTypeLabel {
    font-family: monospace;
    font-size: 20px;
    color: #5f6368;
    padding: 5px 25px;
    min-width: 0;
    border: 2px solid #dadce0;
    border-radius: 50px;
    height: 45px;
    background: #fff;
    width: 100%;
    outline-color:  transparent;
}

.filterTypeLabel {
    border-width: 0px 0px 1px 0px;
    padding: 0;
    border-radius: 0;
}

.optionsTypeBox {
    width: 100%;
    font-size: 20px;
}

.optionsTypeBox label {
    margin-right: 10px;
}

.orderBox {
    display: none;
    position: absolute;
    top: 44px;
    border-radius: 0 0 20px 20px;
    border: 1px solid #dadce0;
    overflow: hidden;
    width: 100%;
    font-size: 20px;
    z-index: 1;
}

.optionsTypeBox div, 
.orderBox div {
    background: #FFF;
    width: 100%;
    border: none;
    border-bottom: 1px solid #dadce0;
    padding: 15px;
}

.orderBox button {
    background: #FFF;
    width: 100%;
}

.orderBox button:last-child {
    border: none;
}

.checkbox {
    display: flex;
    flex-wrap: nowrap;
    margin: 20px;
}

.checkbox > div {
    margin: 0 5px;
}

.resultSection {
    margin: 35px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #dadce0;
    border-radius: 1rem;
}

.userCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 32px 25px 25px;
    margin-bottom: 40px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.userCard p {
    font-family: cursive;
    font-size: 22px;
}

.userCard > div{
    width: 100%;
    overflow: hidden;
}

.userInfos {
    margin-bottom: 20px;
}

.userImage {
    box-shadow: 0px 6px 6px rgba(0, 255, 255, 0.1);
    margin: 0 auto;
    border-radius: 1.2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    min-width: 7rem;
    width: 7rem;
}

.userImage img {
    width:100%
}

.userBasicInfos {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 20px 0 0;
}

.userName {
    margin-bottom: 15px;
}

.userDetails {
    display: flex;
    flex-wrap: wrap;
}

.userDetails p {
    display: flex;
    align-items: center;
    margin: 15px 0;
    min-width: 220px;
}

.userDetails span {
    display: flex;
    margin-right: 15px;
}

#userCreatedAt {
    display: none;
}

.userBio {
    /* padding: 10px 0 35px; */
    height: 100%;
    max-height: 0;
    display: none;
}

.authorBox {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.authorBox > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 45px;
    text-align: center;
}

.companyInfo {
    
}

.authorInfo {
    
}

@media (min-width: 575px) {
    .brandBox {
        text-align: left;
    }

    .mainBox{
        padding: 0px 60px 48px;
        max-width: 1528px;
        margin: 0 auto;
    }

    .userDetails {
        justify-content: center;
    }

    .userDetails p {
        justify-content: center;
    }

    .userDetails {
        justify-content: center;
    }

    .authorBox {
       flex-direction: row;
    }

}

@media (min-width: 1180px) {
    .filter {
        margin-left: 30px;
        margin-bottom: 0;
        min-width: 250px;
    }

    .filterTypeLabel {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        padding-left: 15px;
    }

    .filterBox {
        flex-direction: row-reverse;
    }

    .typeFilter {
        flex-direction: row;
        align-items: flex-end;
    }

    .optionsTypeBox {
        display: flex;
        align-items: flex-end;
    }
    
    .optionsTypeBox div {
        display: flex;
        align-items: center;
    }

    .resultSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
        order: 2;
        padding: 35px 40px 40px 40px;
    }

    .userCard {
        margin: 0;
        padding: 20px 25px;
    }

    .userInfos {
        display: flex;
        align-items: flex-start;
        width: 100%;
        overflow: hidden;
    }

    .userImage {
        margin: 0;
    }

    .userBasicInfos {
        margin: 0 auto;
        padding-left: 15px;
    }
}