* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: arial;
    font-size: 1.2rem;
}

img {
    width: 5rem;
    margin: 0 auto;
}

p, label {
    color: #5f6368;
}

.mainBox{
    padding: 0px 16px 48px;
}

.headerBox {
    border-bottom: 1px solid #dadce0;
}

.brandBox {
    width: 100%;
    padding: 18px 60px;
    background: #FFF;
    text-align: center;
}

.searchBox {
    display: flex;
    color: white;
    justify-content: center;
    margin: 40px 0px 0px;
}

.filterBox {
    display: flex;
    flex-direction: column;
    width: 100%;    
}

.filter { 
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
}

.filterName {
    margin: 10px;
}

.searchBar {
    display: flex;
    min-width: 0;
    border: 1px solid #dadce0;
    border-radius: 50px;
    overflow: hidden;
    height: 45px;
    align-items: center;
}

.searchWriter {
    min-width: 0;
}
.searchWriter input {
    border: 0;
    padding: 4px 20px;
    width: 100%;
}

.searchIconBox {
    display: flex;
    height: 100%;
    align-items: center;
    border-left: 1px solid #dadce0;
}

.searchIcon {
    display: flex;
    margin: 0 10px;
    fill: #5f6368;
}

.orderBox {
    display: none;
    border: 1px solid black;
}

.orderBox button {
    background: #FFF;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}

.orderBox button:last-child {
    border: none;
}

.checkbox {
    display: flex;
    flex-wrap: nowrap;
    margin: 20px;
}

.checkbox > div {
    margin: 0 5px;
}

.contentBox {
    display: flex;
    flex-direction: column;
}

.authorBox {
    background: chocolate;
    display: flex;
    flex-wrap: wrap;
}

.authorBox > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 45px;
    text-align: center;
}

.companyInfo {
    background: coral;
}

.authorInfo {
    background: crimson;
}

.resultsBox {
    margin: 35px auto;
    padding: 70px 10px 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #dadce0;
    border-radius: 1em;
}

.userBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 45px 35px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 1em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.userTextBox {
    max-height: 150px;
    overflow: hidden;
    padding: 20px;
}

.userBox img {
    margin: 0;
}

@media (min-width: 550px) {
    .brandBox {
        text-align: left;
    }

    .mainBox{
        padding: 0px 60px 48px;
    }

    .filterBox {
        flex-direction: row-reverse;
    }
    
    .userBox p {
        padding-left: 20px;
    }


}

@media (min-width: 550px) and (max-width: 1000px) {
    .authorBox {
        flex-wrap: nowrap;
    }
}

@media (min-width: 1000px) {
    .authorBox {
        display: block;
    }
    .contentBox {
        flex-direction: initial;
    }

    .resultsBox {
        display: grid;
        grid-template-columns: 1fr 1fr;
        order: 2;
    }

    .userBox {
        flex-direction: initial;
    }
}