.authorBox {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.authorBox > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 45px;
    text-align: center;
}

.companyInfo {
    
}

.authorInfo {
    
}